$black: #000000;
$white: #ffffff;
$yellow: #FCDA28;
$grey: #ADADAD;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form__wrapper_visible {
  z-index: 50;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.form {
  opacity: 0;
  position: fixed;
  z-index: 100;
  top: -100%;
  font-family: 'Rubik', sans-serif;
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 46px;
  max-width: 600px;
  height: fit-content;
  background-color: $yellow;
  box-shadow: 0px 0px 70px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: $black;
}

.form_visible {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form__title {
  margin-top: 0;
  margin-bottom: 17px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
}

.email__title,
.password__title {
  margin: 10px 0px 3px 7px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.email__wrap,
.password__wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.email__input,
.password__input {
  padding-left: 15px;
  width: 509px;
  height: 49px;
  border: 2px solid $black;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: $black;
}

/* Errors */

.email__title._error,
.password__title._error {
  color: #CB2424;
}

.password__input._error,
.email__input._error,
.checkbox__input._error {
  border: 2px solid #CB2424;
}

.checkbox__label._error>span.checkbox__input-new {
  border: 2px solid #CB2424;

}

/* stars */
.password__wrap._error,
.email__wrap._error,
.checkbox__label._error {
  color: #CB2424;
}

/* Error messages */
.error_empty,
.email__error_not_valid,
.password_error_lenght {
  display: none;
  color: #CB2424;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.text_error.error_empty,
.text_error.email__error_not_valid,
.text_error.password_error_lenght {
  display: inline-block;
}

/* /Error messages*/

/* /Errors */

.password__wrap::before,
.email__wrap::before {
  position: absolute;
  top: 0;
  left: -13px;
  content: '*';
  font-size: 25px;
  display: block;
}

.email__input::placeholder,
.password__input::placeholder {
  color: #ccc;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox__label::before {
  content: "*";
  top: 0;
  left: -13px;
  margin-right: 60px;
  position: absolute;
  font-size: 25px;
  display: block;
}

.checkbox__input-new {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid $black;
  border-radius: 7px;
  position: relative;
  background-color: $white;
}

.checkbox__input-new::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../images/check.png);
  opacity: 0;
  transition: .3s;
}

/* Selecting an adjacent selector */
.checkbox__input:checked+.checkbox__input-new::before {
  opacity: 1;
}

.checkbox__text {
  padding-left: 10px;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

.form__button {
  margin-top: 52px;
  margin-bottom: 62px;
  display: flex;
  justify-content: center;
}

.button {
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  background: $black;
  border-radius: 10px;
  border: none;
  padding: 26px 63px;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: 0px 0px 18px 30px rgba(255, 255, 255, 0.2); 
    color: $yellow;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .form {
    width: fit-content;
  }
  .form__title {
    margin-top: 10px;
  }

  .form__title {
    font-size: 7vw;
  }

  .email__title,
  .password__title {
    margin-bottom: 10px;
    font-size: 3vw;
  }

  .email__input,
  .password__input {
    height: 7vw;
    font-size: 3vw;
  }

  .checkbox__input-new {
    width: 5vw;
    height: 5vw;
  }

  .button {
    padding: 4vw 9vw;
    font-size: 4vw;
  }
}

@media screen and (min-width: 319px) and (max-width: 480px) {
  .form {
    margin-top: 10px;
    width: 95vw;
    height: 510px;
  }

  .form__title {
    font-size: 8vw;
  }

  .email__title,
  .password__title {
    margin-bottom: 10px;
    font-size: 4vw;
  }

  .email__input,
  .password__input {
    width: 70vw;
    height: 10vw;
    font-size: 4vw;
  }

  .checkbox__input-new {
    padding-right: 15px;
    width: 8vw;
    height: 8vw;
  }

  .button {
    padding: 6vw 14vw;
    font-size: 5vw;
  }
}